<!DOCTYPE html>
<html>
	<head>
		<title>certificate</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<style>
		
		.rectangle {
		border: 2px solid #4cd137;
		position: absolute;
		z-index:100;
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				
				<a class="navbar-brand" href="#" style="font-size: 20px;">Auto-Certify</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href="/"style="font-size: 17px;color: #dcdde1">Logout</a>
						<a class="nav-item nav-link" style="color:#4cd137;font-size:17px;" data-toggle="modal"  href="#" data-target='#myModal'>Upload Excel File</a>
					</div>
				</div>
			</div>
		</nav>
		<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title">Add Excel File</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">

      	<div>
			<br>
		<input type="file" name="csv" id="file">
			<button class="btn btn-info btn btn-primary" id="upload-csv">Upload CSV</button>
		</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="closebtn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--  -->
		<br><br><br>


		
		<!-- <div style="overflow: auto"> -->
			
		<div class="row">
			<div class="col-md-6">
				<div id="canvas" style="position: relative;padding:20px" >
			</div>
		</div>
			<div class="col-md-6" style="float:right">
				<div class="form-group">
				<button class=" btn btn-md btn-success" id="draw" hidden="true">Draw Blank</button>
				<button class="btn btn-md btn-success" id="submit-btn" hidden="true" style="position: relative;left:50px;">submit</button>

				<button class="btn btn-md btn-primary" id="download" hidden="true" style="position: relative;left:100px;width:300px;">Download</button>
			</div>
			<div class="row">
				

				
				<div class="col-md-5">
					<div id="blank_no">
						
					</div>
					
				</div>
				<div class="col-md-4" style="position: relative; right: 100px;">
					<div id="blank">
						
					</div>
				</div>
				<br>

			</div>

				
			

			</div>
		
			
			<br>
			<br>
			
		</div>
		
		
			
		<!-- </div> -->
		
		<script
		src="http://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/static/js/initDraw.js"></script>
		<script>
			initDraw(document.getElementById('canvas'));
		</script>
	</body>
</html>