body{
	width: 100%;
	background:linear-gradient(to top,#1e3799 30%,#ffffff 30%);
	height: 150vh;
}
.main-container{
	
	background-repeat: no-repeat;
	height:100vh;
}
.main-container1{
	height: 70vh;
	position: relative;
	top: 300px;
}
.main-container2{
	width: 50%;
	position: relative;
	left:500px;
	top:50px;
}
.flip-card {
  background-color: transparent;
  width: 800px;
  height:500px;
  perspective: 1000px;
  position: relative;
	left: 100px;
	bottom: 10px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #90afc5;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
/*.heading{
	background-color:rgba(206, 214, 224,0.5); 
	position: relative;
	top:50px;
	height:110px;
	border-bottom: 2px solid rgba(12, 36, 97,1.0);
	border-top: 2px solid rgba(12, 36, 97,1.0); 

}
.body1{
	
	height:790px;
	top:120px;
	position: relative;
	

}
.body2{
	background-color:rgb(30,101,109);
	top:170px;
	position: relative;
}
.body3{
	
	height:590px;
	top:250px;
	position: relative;
	color: rgba(119, 140, 163,1.0);
	font-family: 'Montserrat', sans-serif;
	font-weight:100;
	
}
.instruction{
	font-family: 'Acme', sans-serif;
	font-size:30px;
	font-weight: 500;
}
.left{
	position: relative;
	left:60px;
}
.right{
	position: relative;
	left: 80px;
	bottom:30px;
}
.image{
	position: relative;
	left:300px;
	border-right: 2px solid rgba(30,101,109,0.5);
	width:850px;
	height: 820px;

}
.about{
	position: relative;
	right: 100px;
	top:150px;
}*/